

* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', sans-serif;
}

body {
    background-image: url("/assets/images/skyRPS.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    text-align: center;
    margin: 0;
    padding: 0;

    font-weight: bold;
    font-size: larger;
    height: 100vh;
}

h1 {
    margin-top: 40px;
}

#result-notice-text {
    margin: 1px auto;
    text-shadow: 1px 0.5px 3px white;
    line-height: 40px;
}

#container {
    background: rgba(0, 0, 0, 0.3);
    background-image: url(/assets/images/);
    margin: 40px auto 0;
    height: 60%;
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
}

h1 {
    margin: 20px auto;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid;
    border-radius: 60px 20px;
    width: 60%;
    text-shadow: 1px 0.5px 2px white;
}

#options {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.choice {
    background-color: black;
    border: 1px solid white;
    border-radius: 30%;
    width: 50px;
    border: 1px solid;
    padding: 80px;
    margin: 100px 20px;
    cursor: pointer;
    text-decoration: none;
}

#result-notice {
    background: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    width: 20%;
    border: 1px solid;
    border-radius: 20px 60px;
    height: 45px;
    font-size: 35px;
    
}

#result {
    display: flex;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    background-color: black;
    margin: 0 auto;
    width: 50%;
    border: 1px solid;
    height: 200px;
    font-size: 24px;
}

#result-image {
    border: 1px solid black;
    border: 1px solid black;
    margin: 20px 40px;
    width: 40%;
    height: 80%;
}


#win-lose{
    border: 1px solid black;
    width: 40%;
    height: 80%;
    position: relative;
    float: right;
    margin: 20px;
    text-align: center;
}