

* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', sans-serif;
}

body {
    background-image: url("/assets/images/skyRPS.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    text-align: center;
    margin: 0;
    padding: 0;

    font-weight: bold;
    font-size: larger;
    height: 100vh;
}

h1 {
    margin-top: 40px;
}

#container {
    background: rgba(0, 0, 0, 0.3);
    background-image: url(/assets/images/);
    margin: 40px auto;
    height: 60%;
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
}

h1 {
    margin: 20px auto;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid;
    border-radius: 60px 20px;
    width: 60%;
    text-shadow: 1px 0.5px 2px white;
}

#options {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.choice {
    width: 50px;
    border: 1px solid;
    padding: 80px;
    margin: 100px 20px;
}

#result {
    margin: 20px auto;
    width: 40%;
    border: 1px solid;
    height: 160px;
    font-size: 24px;
}